:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196F3;
    --color-backgraund: #2F303A;
    --color-text: #757575;
    --color-gray: #f5f4fa;
    --color-black: #000000;
}
.body{
    font-family: 'Roboto';
    font-weight: ;
}
.header-web{
    color: var(--color-main-brand);
    font-weight: 700;
    font-size: 26px;
}
.header-studio{
    color: var(--color-black);
    font-weight: 700;
    font-size: 26px;
}
.list-item{
    font-weight: 500;
    font-size: 14px;
}
.studio-link{
    color: var(--color-dark);
}
.filter-list-item{
    font-weight: 500;
    font-size: 16px;
    border: #F5F4FA;
    border-radius: 4px;
}
.hero-list-item-title{
    font-size: 18px;
}
.description{
    font-weight: 400;
    font-size: 16px;
}
.footer{
    background-color: var(--color-backgraund);
}
.footer-web{
    color: var(--color-main-brand);
    font-family: 'Raleway';
    font-size: 26px;
}
.footer-studio{
    color: var(--color-light);
    font-family: 'Raleway';
    font-size: 26px;
}
.adress-list-item-link-maps{
    color: var(--color-light);
    font-weight: 400;
    line-height: 1.71;
}
.adress-list-item-link{
    color: var(--color-light);
    opacity: 0.6;
    font-weight: 400;
    line-height: 1.71;
}