:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196F3;
    --color-backgraund: #2F303A;
    --color-text: #757575;
    --color-gray: #f5f4fa;
    --color-black: #000000;
}
header a span.web{
    color: var(--color-main-brand);
}
header a span.studio{
    color: var(--color-black);
}
.header-nav-list-item-link{
    color: var(--color-dark);
}
.header-nav-list-item :visited{
    color: var(--color-main-brand);
}
.header-list-item-link-mail{
    color: var(--color-main-brand);
}
.header-list-item-link{
    color: var(--color-text);
}
.main-section{
    background-color: var(--color-backgraund);
}
.main-section-h1{
    color: var(--color-light);
}
.main-section-button{
    background-color: var(--color-main-brand);
    color: var(--color-light);
}
.peculiarities-section-list-item-h3{
    color: var(--color-dark);
}
.peculiarities-section-list-item-p{
    color: var(--color-text);
}
.section-doing-h2{
    color: var(--color-dark);
}
.section-team{
    background-color: var(--color-gray);
}
.section-team-list-item-p{
    color: var(--color-dark);
}
.section-team-list-item-h3{
    color: var(--color-text);
}
footer{
    background-color: var(--color-backgraund);
}
footer a span.web{
    color: var(--color-main-brand);
}
footer a span.studio{
    color: var(--color-light);
}
.footer-adress-list-item-link-maps{
    color: var(--color-light);
}
.footer-adress-list-item-link{
    color: var(--color-light);
    opacity: 0.6;
}
body{
    font-family: 'Roboto';
}
header-nav-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
}
.header-nav-list-item-link{
    font-weight: 500;
    font-size: 14px;
}
.header-list-item{
    font-weight: 500;
    font-size: 14px;
}
.main-section-h1{
    font-weight: 900;
    font-size: 44px;
}
.main-section-button{
    font-weight: 700;
    font-size: 14px;
}
.peculiarities-section-list-item-h3{
    font-weight: 700;
    font-size: 14px;
}
.peculiarities-section-list-item-p{
    font-weight: 400;
    font-size: 14px;
}
.section-doing-h2{
    font-weight: 700;
    font-size: 36px;
}
.section-team-h2{
    font-weight: 700;
    font-size: 36px;
}
.section-team-list-item-p{
    font-weight: 500;
    font-size: 16px;
}
.section-team-list-item-h3{
    font-weight: 400;
    font-size: 16px;
}
.web .studio{
    font-weight: 700;
    font-size: 26px;
}
.footer-adress-list-item-link-maps{
    font-weight: 400;
    font-size: 14px;
}
.footer-adress-list-item-link{
    font-weight: 400;
    font-size: 14px;
}