:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196F3;
    --color-backgraund: #2F303A;
    --color-text: #757575;
    --color-gray: #f5f4fa;
    --color-black: #000000;
    --color-footer-a: rgba(255, 255, 255, 0.6);
}
