:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196F3;
    --color-backgraund: #2F303A;
    --coolor-active: #188CE8;
    --color-text: #757575;
    --color-gray: #f5f4fa;
    --color-black: #000000;
    --color-footer-a: rgba(255, 255, 255, 0.6);
}
.body{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
    border: 1px dotted red;
}
.grow{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 25px;
}
.nav-link{
    font-family: 'Raleway';
    color: var(--color-main-brand);
    font-weight: 500;
    font-size: 26px;
}
.header-studio{
    font-family: 'Raleway';
    color: var(--color-black);
    font-weight: 500;
    font-size: 26px;
    margin-right: 93px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}
.nav-list-link{
    color: var(--color-dark);
    text-decoration: none;
}
.nav-list-item{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    flex-direction:
}
.header-list{
    display: flex;
    align-items: end;
    gap: 50px;
}
.list-item{
    display: flex;
    align-items: end;
}
.list-link{
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    text-align: end;
    margin-left: 344px;
}
.list-link-tel{
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    text-align: end;
    margin-left: 50px;
}
.list-item:hover{
    color: var(--color-main-brand);
}
.active-link{
    color: var(--color-main-brand);
}
.hero{
    background-color: var(--color-backgraund);
    padding: 200px 120px;
}
.hero-title{
    color: var(--color-light);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
    letter-spacing: 6%;
}
.hero-button{
    background-color: var(--color-main-brand);
    color: var(--color-light);
    width: 216px;
    height: 50px;
    font-weight: 700px;
    font-size: 16px;
    line-height: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-button :active{
    background-color: var(--coolor-active);
}
.peculiarities-section{
    padding-top: 75px;
}
.peculiarities-section-list{
    display: flex;
    text-align: center;
    gap: 30px;
}
.peculiarities-list-item{
    text-align: left;
}
.peculiarities-title{
    color: var(--color-dark);
}
.peculiarities-section-title{
    color: var(--color-dark);
    font-size: 36px;
    margin-bottom: 50px;
}
.description{
    color: var(--color-text);
    font-weight: 400;
}
.section-doing{
    /* background-color: lightpink; */
    margin-top: 113px;
    margin-bottom: 94px;
}
.doing-item{
    margin-right: 30px;
}
.section-doing-list{
    display: flex;
    flex-direction: row;
}
.doing-image{
    width: 370px;
    height: 294px;
}
.team-image{
    width: 270px;
    height: 260px;
}
.section-doing-title{
    color: var(--color-dark);
    font-size: 36px;
    margin-bottom: 50px;
}
.section-team{
    background-color: var(--color-gray);
    padding-bottom: 94px;
    padding-top: 94px;
}
.section-team-list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.section-team-list-item{
    margin-right: 30px;
    text-align: center;
}
.team-list-item{
    margin-right: 30px;
    text-align: center;
}
.section-team-title{
    background-color: var(--color-gray);
    color: var(--color-dark);
    font-size: 36px;
    margin-bottom: 50px;
}
.text-container{
    width: 270px;
    height: 108px;
    background-color: var(--color-light);
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
}
.name{
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.profession{
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer{
    background-color: var(--color-backgraund);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-link{
    color: var(--color-main-brand);
    font-family: 'Raleway';
    font-size: 26px;
}
.footer-studio{
    color: var(--color-light);
    font-family: 'Raleway';
    font-size: 26px;
    padding-bottom: 20px;
}
.adress-list-item-link-maps{
    color: var(--color-light);
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    padding-bottom: 9px;
}
.adress-list-item-link{
    color: var(--color-footer-a);
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    padding-bottom: 9px;
}