:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196F3;
    --color-backgraund: #2F303A;
    --color-text: #757575;
    --color-gray: #f5f4fa;
    --color-black: #000000;
    --color-footer-a: rgba(255, 255, 255, 0.6);
    --color-button-p: #F5F4FA;
    --color-div: #EEEEEE;
    --color-border: #ECECEC;
}
.body{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}
.main-conteiner{
    width: 1600px;
    margin: 0 auto;
    /* outline: 1px red dashed; */
}
.main-conteiner-mb{
    width: 480px;
    margin: 0 auto;
    /* outline: 1px red dashed; */
}
.conteiner-mb{
    width: 450px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px red dashed; */
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px red dashed; */
}
.peculiarities-section-list,
.section-doing-list,
.section-team-list{
    display: flex;
    justify-content: space-between;
}
/* Голова */
.header{
    border-bottom: 1px solid var(--color-border);
    position: fixed;
    top: 0;
    background-color: var(--color-light);
    width: 1600px;
    height: 80px;
    z-index: 1;
}
.nav-list,
.header-list{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list{
    /* outline: 1px red dashed; */
}
.header-list{
    /* outline: 1px red dashed; */
}
.header-div{
    display: flex;
    align-items: center;
    padding-top: 24px;
}
.nav-list{
    gap: 50px;
}
.nav-list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms ease;
    transition-delay: 100ms;
}
.nav-list-link.active-link::after {
    transform: scaleX(1);
}
.nav-list-link:hover::after {
    transform: scaleX(1);
}
.nav-link{
    font-family: 'Raleway';
    color: var(--color-main-brand);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    vertical-align: middle;
    margin-right: 93px;
}
.header-studio{
    font-family: 'Raleway';
    color: var(--color-black);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}
.nav{
    margin-right: 318px;
    display: flex;
    align-items: center;
}
.nav-list-link{
    color: var(--color-dark);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    padding-bottom: 33px; 

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
.nav-list-link:hover{
    color: var(--color-main-brand);
}
.header-list{
    gap: 30px;
}
.list-link{
    color: var(--color-text);
    fill: var(--color-text);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
.list-item:hover .list-link{
    color: var(--color-main-brand);
    fill: var(--color-main-brand);
}
.active-link{
    color: var(--color-main-brand);
}
/* Главная часть */
.hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    background-color: var(--color-backgraund);
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 80px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    color: var(--color-light);
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.hero-button {
    background-color: var(--color-main-brand);
    color: var(--color-light);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    width: 216px;
    height: 50px;
}
.hero-button:hover{
    box-shadow: none;
    cursor: pointer;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
}
.label{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.div-checkbox{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}
.check-link{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2196f3;
}
.div-form > input{
    padding-left: 42px;
}
input, textarea{
    outline: none;
}
input:hover{
    cursor: col-resize;
}
input:focus{
    /* outline: 1px red dashed; */
    border: 1px solid #2196f3;
}
input:focus:invalid{
    border-color: red;
}
.checkbox-lb{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}
.sumbit{
    width: 200px;
    height: 50px;
    margin-left: 124px;
}
.textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
}
.textarea:focus{
    /* outline: 1px red dashed; */
    border: 1px solid #2196f3;
    transition: border-color 0.3s;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.input-text{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
}
.no-scroll {
    overflow: hidden;
}
.div-form:not(:last-child){
    margin-bottom: 10px;
}
.forms{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.div-form{
    position: relative;
}
.modal {
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--color-light);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.man{
    position: absolute;
    top: 32px;
    left: 15px;
    fill: var(--color-dark);
}
.phone1{
    position: absolute;
    top: 31.30px;
    left: 15px;
    fill: var(--color-dark);
}
.mail{
    position: absolute;
    top: 32px;
    left: 14px;
    fill: var(--color-dark);
}
.modal .btn {
    position: absolute;
    top: 8px;
    right: 8px;
}
.btn{
    border-radius: 100%;
    fill: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-light);
    width: 31px;
    height: 31px;
}
.btn:hover{
    cursor: pointer;
}
/* Особености */
.peculiarities-section{
    padding-top: 94px;
}
.peculiarities-section-title{
    color: var(--color-dark);
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.peculiarities-list-item{
    width: 270px;
    /* outline: 1px red dashed; */
}
.peculiarities-list-item::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    /* outline: 1px red dashed; */
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-gray);
    /* outline: 1px red dashed; */
}
.peculiarities-list-item:nth-child(1):before{
    background-image: url(../images/antenna.svg);
}
.peculiarities-list-item:nth-child(2):before{
    background-image: url(../images/clock.svg);
}
.peculiarities-list-item:nth-child(3):before{
    background-image:  url(../images/diagram.svg);
}
.peculiarities-list-item:nth-child(4):before{
    background-image: url(../images/astronaut.svg);
}
.peculiarities-title{
    color: var(--color-dark);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.description{
    color: var(--color-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}
/* Занятия */
.section-doing{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-doing-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.doing-text{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-light);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-wrap: nowrap;
    padding: 24px 0;
}
.doing-item {
    position: relative;
    width: 370px;
    height: 294px;
}
.doing-item{
    /* outline: 1px red dashed; */
}
/* Команда */
.team-image{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}
.section-team{
    background-color: var(--color-gray);
    padding-top: 94px;
    padding-bottom: 94px;
}
.social-list{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}
.social-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-item:hover .social-link{
    border-radius: 50%;
    background-color: var(--color-main-brand);
    fill: var(--color-light);
}
.social-link{
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
.section-team-title{
    color: var(--color-dark);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.section-team-list-item{
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;
    background-color: var(--color-light);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    /* outline: 1px red dashed; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}
.profession{
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
}
/* Клиенты */
.section-clients{
    padding: 94px 0;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 50px;
}
.clients-list{
    display: flex;
    gap: 30px;
}
.clients-item{
    width: 170px;
    height: 92px;
}
.clients-item:hover .clients-link{
    border-color: var(--color-main-brand);
    fill: var(--color-main-brand);
}
.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
/* Подвал */
.footer{
    background-color: var(--color-backgraund);
    padding-top: 60px;
    padding-bottom: 60px;
}
.adress{
    font-style: normal;
}
.footer-link{
    color: var(--color-main-brand);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
}
.footer-studio{
    color: var(--color-light);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}
.adress-list-item{
    /* outline: 1px red dashed; */
    display: flex;
    flex-direction: row;
}
.adress-list-item:not(:last-child){
    margin-bottom: 9px;
}
.adress-list-item-link-maps{
    color: var(--color-light);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}
.adress-list-item-link{
    color: var(--color-footer-a);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}
.footer-div{
    display: flex;
    flex-direction: row;
}
.social-footer{
    padding-top: 12px;
    margin-left: 70px;
}
.footer-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-light);
    margin-bottom: 20px;
}
.circle{
    background-color: rgba(255, 255, 255, 0.1);
}
.fill{
    fill: var(--color-light);
}
.div-send{
    margin-left: 93px;
    padding-top: 12px;
}
.send-title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-light);
    margin-bottom: 20px;
}
.send-input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
}
.form-footer{
    display: flex;
    align-items: center;
}
.send-button{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    color: var(--color-light);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    border: none;
    padding: 10px 28px;
    gap: 10px;
    margin-left: 12px;
    cursor: pointer;
}
/* Портфолио */
.filter-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 94px;
}
.portfolio-section{
    padding: 94px 0;
}
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-bottom: 16px;
}
#active{
    background-color: #2196F3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    color: var(--color-light);
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    list-style: none;
    padding: 0;
}
.list-item-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-dark);
    background-color: var(--color-button-p);
    border: 0;
    padding: 6px 24px;
    border-radius: 4px;
}
.list-item-button:hover{
    background-color: var(--color-main-brand);
    color: var(--color-light);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
.filter-list-item:not(:last-child){
    margin-right: 8px;
}
.filter-title{
    display: none;
}
.project-title{
    text-align: center;
}
.div-text{
    width: 370px;
    height: 110px;
    padding: 20px 23px 19px 23px;
    border: solid var(--color-div); 
    border-width: 0 1px 1px 1px;
    background-color: #FFFFFF;
    position: relative;
}
.project-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    justify-content: left;
    margin-bottom: 4px;
}
.description-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: var(--color-text);
    justify-content: left;
}
.project-list-item{
    background-color: var(--color-light);
    max-width: 370px;

    cursor: pointer;
}
.project-list-item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.box{
    position: relative;
    width: 370px;
    height: 404px;
    margin: 0 auto;
    overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 110px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 1s ease-in-out;
}
.box:hover .overlay {
    transform: translatey(0);
}
.taxt{
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 63px 24px;
}