:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196F3;
    --color-backgraund: #2F303A;
    --color-text: #757575;
    --color-gray: #f5f4fa;
    --color-black: #000000;
    --color-footer-a: rgba(255, 255, 255, 0.6);
}
.body{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 0.5;
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 215;
}
.header{
    padding-top: 24px;
    padding-bottom: 25px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-link{
    font-family: 'Raleway';
    color: var(--color-main-brand);
    font-weight: 500;
    font-size: 26px;
}
.header-studio{
    font-family: 'Raleway';
    color: var(--color-black);
    font-weight: 500;
    font-size: 26px;
    margin-right: 93px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-list-link{
    color: var(--color-dark);
    text-decoration: none;
}
.nav-list-item{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.header-list{
    display: flex;
    align-items: end;
}
.list-item{
    display: flex;
    align-items: end;
    margin-right: 50px;
}
.list-link{
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    text-align: end;
    padding-left: 294px;
}
.list-link-tel{
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    text-align: end;
    padding-left: 50px;
}
.list-item:hover{
    color: var(--color-main-brand);
}
.active-link{
    color: var(--color-main-brand);
}
.project-section{
    text-align: center;
}
.project-list-item {
    width: 30%;
    margin: 10px;
    text-align: center;
}
.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer{
    background-color: var(--color-backgraund);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-link{
    color: var(--color-main-brand);
    font-family: 'Raleway';
    font-size: 26px;
}
.footer-studio{
    color: var(--color-light);
    font-family: 'Raleway';
    font-size: 26px;
    padding-bottom: 20px;
}
.adress-list-item-link-maps{
    color: var(--color-light);
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    padding-bottom: 9px;
}
.adress-list-item-link{
    color: var(--color-footer-a);
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    padding-bottom: 9px;
}