button{
    background-color: #4081da;
    color: white;  
} 
header a .web, footer a .web{
    color: #4081da;          
}
header a .studio{
    color: black;
}
footer a .studio{
    color: white;
}
header a .Студія{
    color: #4081da;
}
header a .info@devstudio.com{
    color: #4081da;
}
footer a .info@devstudio.com{
    color: #4081da;
}
