:root{
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-main-brand: #2196f3;
}
header a span.web {
    color: var(--color-main-brand) /* Колір "Web" в хедері */
}
header a span.studio {
    color: #000000; /* Колір "Studio" в хедері */
}
nav a, footer a {
    color: var(--color-dark); /* Колір всіх посилань, крім "WebStudio", "Студія" та "info@devstudio.com" */
}
.studio-link, .email-link{
    color: var(--color-main-brand) /* Колір посилань "Студія" та "info@devstudio.com" */
}
.phone-link{
    color: var(--color-dark);
}
h1{
    color: var(--color-light);
}
button {
    background-color: var(--color-main-brand); /* Задній фон для кнопки в першій секції */
    color: #FFFFFF; /* Колір тексту в кнопці */
}
h3 {
    color: var(--color-dark); /* Колір для всіх <h3> */
}
section p {
    color: #757575; /* Колір для всіх <p> в секції "Чим ми займаємось" */
}
.our-team{
    background-color: #F5F4FA;
}
.our-team p{
    color: var(--color-dark);
}
.our-team h3{
    color: #757575;
}
.efective{
    background-color: #2F303A;
}
footer{
    background-color: #2F303A;
}
footer a{
    color: var(--color-light); /* Колір тексту в футері */
}

footer a span:first-child {
    color: var(--color-main-brand) /* Колір "Web" в футері */
}

footer a span:last-child {
    color: var(--color-light); /* Колір "Studio" в футері */
}