.main-conteiner{
    width: 1600px;
    margin: 0 auto;
    /* outline: 1px red dashed; */
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px red dashed; */
}